# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.cache

# vscode workspace
.vscode

# Blender save artifacts
*.blend1

# jupyter notebook extensions
*ipynb_*