[BASIC]

good-names=start_idx,obj_count,filepath,r_val,cup_name,cup_obj
[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=100

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=no

[DESIGN]

max-bool-expr =10

[FORMAT]
max-line-length=100
